set_io EXTOSC 128

set_io BUT63 63
set_io BUT64 64
set_io LED78 78
set_io LED79 79
set_io LED80 80
set_io LED81 81
set_io LED82 82
set_io LED83 83
set_io LED84 84
set_io PIN121 121
set_io PIN125 125

set_io R7 41
set_io R6 39
set_io R5 38
set_io R4 37
set_io R3 45
set_io G7 44
set_io G6 42
set_io G5 53
set_io G4 34
set_io G3 33
set_io G2 32
set_io B7 31
set_io B6 29
set_io B5 28
set_io B4 26
set_io B3 25
set_io HS 24
set_io VS 23

set_io D2P 124
set_io D2N 122
set_io D1P 116
set_io D1N 115
set_io D0P 114
set_io D0N 113
set_io CKP 112
set_io CKN 110
set_io SCL 120
set_io SDA 119
set_io CEC 118
set_io HDP 117

set_io D0 106
set_io D1 105
set_io D2 104
set_io D3 102
set_io D4 101
set_io D5 99
set_io D6 98
set_io D7 97
set_io RXF 96
set_io TXE 95
set_io RD 93
set_io WR 91
set_io SIWU 90
set_io CLKOUT 94
set_io OE 85
set_io ACBUS7 87
set_io PWREN 107
set_io SUSPEND 88

set_io DQ0 136
set_io DQ1 137
set_io DQ2 138
set_io DQ3 139
set_io DQ4 135
set_io DQ5 134
set_io DQ6 130
set_io DQ7 129
set_io BA0 1
set_io BA1 2
set_io A0 4
set_io A1 7
set_io A2 8
set_io A3 9
set_io A4 22
set_io A5 21
set_io A6 20
set_io A7 19
set_io A8 18
set_io A9 17
set_io A10 3
set_io A11 16
set_io A12 15

set_io CS 144
set_io CKE 12
set_io CLK 11
set_io DQM 10
set_io WE 141
set_io CAS 142
set_io RAS 143

set_io GPIO_8 62
set_io GPIO_10 61
set_io GPIO_11 73
set_io GPIO_12 60
set_io GPIO_13 74
set_io GPIO_22 52
set_io GPIO_26 56
set_io GPIO_32 55
set_io GPIO_33 49
set_io GPIO_35 47
set_io GPIO_36 48
set_io GPIO14_11 76
set_io GPIO14_12 75

